.KillFeed {
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	width: 100%;
	height: 100%;

	text-align: left;
}

.KillFeed p {
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
	text-shadow: 1px 1px 2px black;
}
